<div class="overall">
    <h2 class="header">Projects</h2>
    <div class="row"> 
        <div class="project container">
            <ng-template ngFor let-project [ngForOf]="projects">
                <div class="item">
                    <div class="image-box">
                        <img *ngIf="hasLink(project)" class="image" src={{project.image}} (click)="navigate(project)" title="Visit Demo Page">
                        <img *ngIf="!hasLink(project)" class="image--nolink" src={{project.image}}>
                    </div>
                    <div class="description">
                        <h4 style="display: inline-block;">{{project.title}}</h4>
                        <span [innerHTML]="project.html"></span>
                        <p style="font-size: 14px;">{{project.description}}</p>
                        <i *ngIf="project.demoLink != ''" class="fas fa-play-circle" (click)="openDemoLink(project)" title="Demo"></i>
                        <i *ngIf="project.codeLink != ''" class="fab fa-github" (click)="openCodeLink(project)" title="Code"></i>
                        <i *ngIf="project.codeLink == ''" class="fab fa-github--disabled fa-github" title="Professional code is private"></i>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>