<body>
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12 col-md-6" style="margin-bottom: 2em;">
            <div id="pcplot"></div>
            <ul class="legend">
                <li><span class="virginica"></span> Virginica</li>
                <li><span class="versicolor"></span> Versicolor</li>
                <li><span class="setosa"></span> Setosa</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-5">
            <h3 style="margin-top: 3em; color: #7C6DBC;">Iris Flower Data Set</h3>
            <p style="color: #E28361;">
                <span style="color: #00B89C">How To:</span><br>
                1. Click on Axis Titles to Swap Positions<br>
                2. Drag on Axis to Highlight and Select (Works with multiple axes)<br>
                <span style="margin-left: 2em;">1. Extend the length of the Highlighted Section</span> <br>
                <span style="margin-left: 2em;">2. Click outside of a Highlight to Clear</span> <br>
                3. Try doing both Steps 1 and 2!
            </p>            
        </div>
    </div>
    
</body>