<body>
    <div class="row" style="justify-content: center;">
        <div class="col-sm-12 col-md-6" style="margin-bottom: 2em;">
            <div id="pcplot"></div>
            <ul class="legend">
                <li><span class="versicolor"></span> Versicolor</li>
                <li><span class="virginica"></span> Virginica</li>
                <li><span class="setosa"></span> Setosa</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-5">
            <h3 style="margin-top: 3em; color: #7C6DBC;">Iris Flower Data Set</h3>
            <p style="color: #E28361;">
                <span style="color: #00B89C">How To:</span><br>
                1. User can click on axis title to swap positions<br>
                2. User can drag on axis to highlight a selection.<br>
                <span style="margin-left: 2em;">- User can extend the length of the highlighted section.</span> <br>
                <span style="margin-left: 2em;">- User can drag the highlighted selection.</span> <br>
                <span style="margin-left: 2em;">- User can click outside of a highlight on the axis to clear.</span> <br>
                3. User can see all axes working in parallel.
            </p>            
        </div>
    </div>
    
</body>