
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.index
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
    font-family: 'Sora', sans-serif;
}

.fas, .fab {
    padding: 20px;
    font-size: 30px;
    width: 50%;
    text-align: center;
    text-decoration: none;
}
  
.fas:hover:not(.fa--techstack), .fab:hover:not(.fa--techstack) {
    opacity: 0.7;
    cursor: pointer;
}

.fa--techstack  {
    font-size: 1em;
    width: 0;
    cursor: default;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-projects {
    width: 100%;
    background: #998dcf;
    color: black;
}

.fa-github {
    background: #40515d;
    color: white;
}

.sorted {
    fill: red;
}
        
.testing {
    fill: red;
}

.min {
    fill: red;
}
