<img class="main--image" src="assets/rugged_coastline_crop.jpg">
<!-- Name -->
<div class="name--box"> 
    <h1 class="name--header">Denny Ho</h1>
    <p class="name--content">
        An experienced full stack software engineer, with a track record at
        writing optimal and efficient code in a timely manner.
    </p>
</div>
<!-- About -->
<div class="about row">
    <img class="col-lg-4 col-md-5 col-sm-5 portrait" src="assets/portrait.JPG">
    <div class="col-lg-5 col-md-5 col-sm-5  about--text_box">
        <div class="about--text">
            <h3>Software Dev</h3>
            <p>
                Sometimes that's just the way it has to be. Sure, there were probably other
                options, but he didn't let them enter his mind. It was done and that was that.
                It was just the way it had to be.
            </p>
        </div>
    </div>
</div>
<div>
    <a routerLink="projects" class="fa fa-projects">Projects</a>
</div>
